<div class="flex mb-2 justify-between w-full items-center">
  <mat-button-toggle-group
    name="videoFilter"
    aria-label="Video Filter"
    [(ngModel)]="filter"
  >
    <mat-button-toggle value="streams">Streams</mat-button-toggle>
    <mat-button-toggle value="uploads">Uploads</mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-icon-button (click)="onRefresh()">
    <mat-icon class="refresh">refresh</mat-icon>
  </button>
</div>

<div
  id="channel-videos"
  class="grid grid-flow-row grid-cols-4"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()"
>
  @for (video of streamsOrUploads.videos; track video.videoId) {
  <mat-card
    class="col-span-1 m-2 video-card relative"
    (click)="routeToVideo(video.videoId)"
    (mouseenter)="video.showRedirect = true"
    (mouseleave)="video.showRedirect = false"
  >
    <img mat-card-image [src]="video.thumbnail" alt="Video thumbnail" />
    <mat-card-title>
      <p class="vid-text text-sm">
        {{ video.title || "No title" }}
      </p></mat-card-title
    >
    @if (video.showRedirect) {
    <a
      class="absolute bottom-12 right-2"
      href="{{ 'https://www.youtube.com/watch?v=' + video.videoId }}"
      target="_blank"
    >
      <mat-icon class="redirect-icon">smart_display</mat-icon>
    </a>
    }
    <mat-card-footer>
      <p class="mt-3 text-xs vid-text">
        &nbsp;
        {{ video.viewCountText || "0 views" }} •
        {{ video.publishedTimeText || "" }}
      </p>
    </mat-card-footer>
  </mat-card>
  } @empty {
  <p>No videos found</p>
  } @if (loading) {
  <div class="col-span-4 flex justify-center my-4">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  }
</div>
