<div
  id="channel-page"
  class="flex flex-col items-center justify-center w-full h-full"
>
  <mat-card id="channel-info-card">
    <mat-card-header>
      <mat-card-title-group>
        <img
          id="channel-profile-picture"
          mat-card-lg-image
          [src]="channelInfo.thumbnail"
          alt="Channel profile picture"
        />
        <mat-card-title>
          <p>{{ channelInfo.name }}</p>
        </mat-card-title>
        <mat-card-subtitle>
          <pre class="text-sm">{{ channelInfo.description }}</pre>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <div class="grid grid-flow-row grid-cols-3 p-4">
      <div class="subheader">
        <div>SUBSCRIBERS</div>
        <p>{{ channelStats.subscriberCount }}</p>
      </div>
      <div class="subheader">
        <div>VIEW COUNT</div>
        <p>{{ channelStats.viewCount }}</p>
      </div>
      <div class="subheader">
        <div>VIDEO COUNT</div>
        <p>{{ channelStats.videoCount }}</p>
      </div>
    </div>
  </mat-card>
  <div class="divider"></div>
  <div class="flex mb-2 justify-between w-full items-center">
    <mat-button-toggle-group
      name="videoFilter"
      aria-label="Video Filter"
      [(ngModel)]="filter"
    >
      <mat-button-toggle value="streams">Streams</mat-button-toggle>
      <mat-button-toggle value="both">Both</mat-button-toggle>
      <mat-button-toggle value="uploads">Uploads</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-icon-button class="flex items-center" (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <div id="channel-videos" class="grid grid-flow-row grid-cols-3">
    @for (video of filteredVideos; track video.videoId) {
    <mat-card class="col-span-1 m-2">
      <!-- Debug: Verify image URL -->
      <img mat-card-image [src]="video.thumbnail" alt="Video thumbnail" />
      <mat-card-title>
        <p class="card-title text-sm">
          {{ video.title || "No title" }}
        </p></mat-card-title
      >

      <mat-card-footer>
        <p class="mt-3 text-xs">
          &nbsp;
          {{ video.viewCountText || "0 views" }} •
          {{ video.publishedTimeText || "" }}
        </p>
      </mat-card-footer>
    </mat-card>
    } @empty {
    <p>No videos found</p>
    }
  </div>
</div>
