<div
  id="channel-page"
  class="flex flex-col items-center justify-center w-full h-full"
>
  <div class="flex items-center mb-[1rem]">
    <img
      id="channel-profile-picture"
      mat-card-md-image
      [src]="channelInfo.thumbnail"
      alt="Channel profile picture"
    />
    <div class="ml-4">
      <div>{{ channelInfo.name }}</div>
      <a
        class="subheader"
        [href]="'https://www.youtube.com/' + channelInfo.username"
        target="_blank"
      >
        {{ channelInfo.username }}
      </a>
    </div>
  </div>
  <channel-charts [channelStats]="channelStats" [chartData]="chartData" />
  <div class="divider"></div>
  <video-list [channelId]="channelId" [streams]="streams" [uploads]="uploads" />
</div>
