.divider {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  margin: 1rem 0;
}

#channel-page {
  overflow-x: hidden;
  margin: 1rem 0 0 0rem;
}

#channel-profile-picture {
  border-radius: 50%;
}

.subheader {
  margin: 0rem !important;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none; /* Optional, to remove underlines */
}

channel-charts {
  width: 100%;
}
