@use "@angular/material" as mat;

.sidenav {
  border-radius: 0rem 2rem 2rem 0rem;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.5); /* Change color and opacity here */
}

button {
  justify-content: flex-start !important;
  text-align: left !important;
  width: 90%;
  border-radius: 0rem 2rem 2rem 0rem;
  margin: 0.5rem 0;
  height: 4rem;
}
mat-icon {
  width: 1.5rem !important; /* Adjust as needed */
  height: 1.5rem !important;
  font-size: 1.5rem !important; /* Ensures SVG icons scale properly */
}

.sidenav-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}

.sidenav-dark {
  .active-route {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: rgba(255, 255, 255, 1) !important;
  }
  .divider {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    width: 100%;
  }

  .subheader {
    color: rgba(255, 255, 255, 0.5);
    margin: 2rem 0 0 0.5rem;
    font-size: 0.8rem !important;
  }
}

.sidenav-light {
  .active-route {
    background-color: rgba(210, 187, 247, 0.8) !important;
    color: rgba(0, 0, 0, 0.6) !important;
  }
  .divider {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .subheader {
    color: rgba(0, 0, 0, 0.5);
    margin: 2rem 0 0 0.5rem;
    font-size: 0.8rem !important;
  }
}
