/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "tailwindcss" as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

html {
  overflow-y: scroll;
  scrollbar-width: none;
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
  .divider {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .subheader {
    color: rgba(0, 0, 0, 0.5);
    margin: 2rem 0 0 0.5rem;
    font-size: 0.8rem !important;
  }
}

html.dark-mode {
  color-scheme: dark;
  .divider {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    width: 100%;
  }

  .subheader {
    color: rgba(255, 255, 255, 0.5);
    margin: 2rem 0 0 0.5rem;
    font-size: 0.8rem !important;
  }
}
